<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwp.blog.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.itwp.blog.entity.Comment">
    <!--@mbg.generated generated on Sun Mar 29 02:09:30 CST 2020.-->
    <!--@Table t_comment-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="admin_comment" jdbcType="BIT" property="adminComment" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="blog_id" jdbcType="BIGINT" property="blogId" />
    <result column="parent_comment_id" jdbcType="BIGINT" property="parentCommentId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Mar 29 02:09:30 CST 2020.-->
    id, admin_comment, avatar, content, create_time, email, nickname, blog_id, parent_comment_id
  </sql>
</mapper>