<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwp.blog.mapper.TypeMapper">
  <resultMap id="BaseResultMap" type="com.itwp.blog.entity.Type">
    <!--@mbg.generated generated on Sun Mar 29 02:09:02 CST 2020.-->
    <!--@Table t_type-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Mar 29 02:09:02 CST 2020.-->
    id, `name`
  </sql>
</mapper>